In [ ]:
!pip install pyspark.types

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
#from pyspark.types import *

Criar - Iniciar sessão PySpark

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Pyspark01") \
    .getOrCreate()

In [ ]:
df = spark.read.csv('archive/wc2018-players.csv', header=True, inferSchema=True)

In [ ]:
df.show(5)

In [ ]:
df.printSchema()

Verificar valores nulos

In [ ]:
df.toPandas().isna().sum()

In [ ]:
df = df.withColumnRenamed('Team', 'Selecao').withColumnRenamed('#', 'Numero').withColumnRenamed('Pos.', 'Posicao')\
.withColumnRenamed('FIFA Popular Name', 'Nome').withColumnRenamed('Birth Date', 'Nascimento')\
.withColumnRenamed('Club', 'Time').withColumnRenamed('Height', 'Altura').withColumnRenamed('Weight', 'Peso')\

df.show(5)

Verificar valores nulos

In [ ]:
for coluna in df.columns:
    print(coluna, df.filter(df[coluna].isNull()).count())

In [ ]:
df.columns

Selecionar colunas

In [ ]:
df.select('Nome','Selecao').show(7)

In [ ]:
df.select(col('Time')).show(2)

In [ ]:
df.select(df['Selecao']).show(3)

Selecionar coluna com ALIAS

In [ ]:
df.select(col('Selecao').alias('Time')).show(5)

Select utilizando split

In [ ]:
df.select('Selecao nome altura'.split()).show(5)

Filtrar DF

In [ ]:
df.filter('Selecao = "Brazil"').show(3)

Filtrar com mais de uma condição

In [ ]:
df.filter((col('Selecao') == "Brazil") & (col('Altura') == 169)).show(3)

In [ ]:
df.filter('Selecao = "Brazil"').filter(col('Numero') > 10).show(5)

Filtro condicional "OU" = |

In [ ]:
df.filter((col('Nome') == 'MESSI Lionel') | (col('Nome') == 'Fred')).show()

Filtrar DF combinando & e | (and - Or)

In [ ]:
df.filter((col('Selecao') == "Brazil") & (col('Posicao') == 'DF') | (col('Nome') == 'MESSI Lionel')).show(5)

Criar uma coluna nova

In [ ]:
df = df.withColumn('Ano', substring('Nascimento', -4,4))

In [ ]:
df.show(3)

Concatenar uma coluna com a outra

In [ ]:
df.withColumn('Selecao_numero', concat('Selecao', col('Numero'))).show(3)

Concatenar uma coluna utilizando separador

In [ ]:
df.withColumn('Selecao_numero', concat_ws(' - ', 'Selecao', 'Numero')).show(3)

Alterar o tipo da coluna

In [ ]:
df.printSchema()

In [ ]:
from pyspark.sql.types import IntegerType

df = df.withColumn('Ano', col('Ano').cast(IntegerType()))

In [ ]:
df.printSchema()

In [ ]:
dia = udf(lambda data: data.split('.')[0])

In [ ]:
df.withColumn('Dia', dia('Nascimento'))

In [ ]:
df.show(2)

In [ ]:
mes = udf(lambda data: data.split('.')[1])

In [ ]:
df.withColumn('Mes', dia('Nascimento'))

In [ ]:
df = df.withColumn('Data_nascimento', concat_ws(' - ', 'Ano', 'Mes', 'Dia'))

In [ ]:
df.withColumn('Data_nascimento', col('Data_nascimento').cast(DataType))