In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
#from pyspark.types import *

Criar - Iniciar sessão PySpark

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Pyspark01") \
    .getOrCreate()

In [3]:
df = spark.read.csv('archive/wc2018-players.csv', header=True, inferSchema=True)

In [4]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [5]:
df.printSchema()

root
 |-- Team: string (nullable = true)
 |-- #: integer (nullable = true)
 |-- Pos.: string (nullable = true)
 |-- FIFA Popular Name: string (nullable = true)
 |-- Birth Date: string (nullable = true)
 |-- Shirt Name: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)

Verificar valores nulos

In [6]:
df.toPandas().isna().sum()

Team                 0
#                    0
Pos.                 0
FIFA Popular Name    0
Birth Date           0
Shirt Name           0
Club                 0
Height               0
Weight               0
dtype: int64

In [7]:
df = df.withColumnRenamed('Team', 'Selecao').withColumnRenamed('#', 'Numero').withColumnRenamed('Pos.', 'Posicao')\
.withColumnRenamed('FIFA Popular Name', 'Nome').withColumnRenamed('Birth Date', 'Nascimento')\
.withColumnRenamed('Club', 'Time').withColumnRenamed('Height', 'Altura').withColumnRenamed('Weight', 'Peso')\

df.show(5)

+---------+------+-------+------------------+----------+----------+--------------------+------+----+
|  Selecao|Numero|Posicao|              Nome|Nascimento|Shirt Name|                Time|Altura|Peso|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|  65|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|  65|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|  66|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|  69|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|  72|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+
only showing top 5 rows

Verificar valores nulos

In [8]:
for coluna in df.columns:
    print(coluna, df.filter(df[coluna].isNull()).count())

Selecao 0
Numero 0
Posicao 0
Nome 0
Nascimento 0
Shirt Name 0
Time 0
Altura 0
Peso 0

In [9]:
df.columns

['Selecao',
 'Numero',
 'Posicao',
 'Nome',
 'Nascimento',
 'Shirt Name',
 'Time',
 'Altura',
 'Peso']

Selecionar colunas

In [ ]:
df.select('Nome','Selecao').show(7)

In [ ]:
df.select(col('Time')).show(7)

In [ ]:
df.select(df['Selecao']).show(3)

Selecionar coluna com ALIAS

In [ ]:
df.select(col('Selecao').alias('Time')).show(5)

Select utilizando split

In [21]:
df.select('Selecao nome altura'.split()).show(5)

AttributeError: 'NoneType' object has no attribute 'select'

Filtrar DF

In [11]:
df.filter('Selecao = "Brazil"').show(3)

+-------+------+-------+-----------+----------+-----------+--------------------+------+----+
|Selecao|Numero|Posicao|       Nome|Nascimento| Shirt Name|                Time|Altura|Peso|
+-------+------+-------+-----------+----------+-----------+--------------------+------+----+
| Brazil|    18|     MF|       FRED|05.03.1993|       FRED|FC Shakhtar Donet...|   169|  64|
| Brazil|    21|     FW|     TAISON|13.01.1988|     TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    17|     MF|FERNANDINHO|04.05.1985|FERNANDINHO|Manchester City F...|   179|  67|
+-------+------+-------+-----------+----------+-----------+--------------------+------+----+
only showing top 3 rows

Filtrar com mais de uma condição

In [12]:
df.filter((col('Selecao') == "Brazil") & (col('Altura') == 169)).show(10)

+-------+------+-------+----+----------+----------+--------------------+------+----+
|Selecao|Numero|Posicao|Nome|Nascimento|Shirt Name|                Time|Altura|Peso|
+-------+------+-------+----+----------+----------+--------------------+------+----+
| Brazil|    18|     MF|FRED|05.03.1993|      FRED|FC Shakhtar Donet...|   169|  64|
+-------+------+-------+----+----------+----------+--------------------+------+----+

In [13]:
df.filter('Selecao = "Brazil"').filter(col('Numero') > 10).show(5)

+-------+------+-------+-----------------+----------+-----------+--------------------+------+----+
|Selecao|Numero|Posicao|             Nome|Nascimento| Shirt Name|                Time|Altura|Peso|
+-------+------+-------+-----------------+----------+-----------+--------------------+------+----+
| Brazil|    18|     MF|             FRED|05.03.1993|       FRED|FC Shakhtar Donet...|   169|  64|
| Brazil|    21|     FW|           TAISON|13.01.1988|     TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    17|     MF|      FERNANDINHO|04.05.1985|FERNANDINHO|Manchester City F...|   179|  67|
| Brazil|    22|     DF|           FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|    11|     MF|PHILIPPE COUTINHO|12.06.1992|P. COUTINHO|  FC Barcelona (ESP)|   172|  68|
+-------+------+-------+-----------------+----------+-----------+--------------------+------+----+
only showing top 5 rows

Filtro condicional "OU" = |

In [14]:
df.filter((col('Nome') == 'MESSI Lionel') | (col('Nome') == 'Fred')).show()

+---------+------+-------+------------+----------+----------+------------------+------+----+
|  Selecao|Numero|Posicao|        Nome|Nascimento|Shirt Name|              Time|Altura|Peso|
+---------+------+-------+------------+----------+----------+------------------+------+----+
|Argentina|    10|     FW|MESSI Lionel|24.06.1987|     MESSI|FC Barcelona (ESP)|   170|  72|
+---------+------+-------+------------+----------+----------+------------------+------+----+

Filtrar DF combinando & e | (and - Or)

In [15]:
df.filter((col('Selecao') == "Brazil") & (col('Posicao') == 'DF') | (col('Nome') == 'MESSI Lionel')).show(5)

+---------+------+-------+------------+----------+-----------+--------------------+------+----+
|  Selecao|Numero|Posicao|        Nome|Nascimento| Shirt Name|                Time|Altura|Peso|
+---------+------+-------+------------+----------+-----------+--------------------+------+----+
|Argentina|    10|     FW|MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|
|   Brazil|    22|     DF|      FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|  67|
|   Brazil|     6|     DF| FILIPE LUIS|09.08.1985|FILIPE LUIS|Atletico Madrid (...|   182|  73|
|   Brazil|    13|     DF|  MARQUINHOS|14.05.1994| MARQUINHOS|Paris Saint-Germa...|   183|  75|
|   Brazil|     3|     DF|     MIRANDA|07.09.1984|    MIRANDA|FC Internazionale...|   186|  78|
+---------+------+-------+------------+----------+-----------+--------------------+------+----+
only showing top 5 rows

In [16]:
df.show(3)

+---------+------+-------+------------------+----------+----------+--------------------+------+----+
|  Selecao|Numero|Posicao|              Nome|Nascimento|Shirt Name|                Time|Altura|Peso|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|  65|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|  65|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|  66|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+
only showing top 3 rows

Criar uma coluna nova

In [17]:
df = df.withColumn('Ano', substring('Nascimento', -4,4))

In [18]:
df.show()

+---------+------+-------+------------------+----------+----------+--------------------+------+----+----+
|  Selecao|Numero|Posicao|              Nome|Nascimento|Shirt Name|                Time|Altura|Peso| Ano|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+----+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|  65|1996|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|  66|1993|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|  69|1990|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|  72|1987|
|Argentina|     4|     DF|  ANSALDI Cristian|20.09.1986|   ANSALDI|     Torino FC (ITA)|   181|  73|1986|
|Argentina|     5|     MF|      BIGLIA Lucas|30.01.1986|    BIGLIA|      AC Milan (ITA)|   175|  73|1986|
|Argentina|     7|     MF|       BANEGA Ever|29.06.1988|    BANEGA|    Sevilla FC (ESP)|   175|  73|1988|
|Argentina|    14|     DF| MASCHERANO Javier|08.06.1984|MASCHERANO|Hebei China Fortu...|   174|  73|1984|
|Argentina|    21|     FW|      DYBALA Paulo|15.11.1993|    DYBALA|   Juventus FC (ITA)|   177|  73|1993|
|Argentina|    19|     FW|     AGUERO Sergio|02.06.1988|    AGÜERO|Manchester City F...|   172|  74|1988|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|10.12.1987|   HIGUAÍN|   Juventus FC (ITA)|   184|  75|1987|
|Argentina|    11|     MF|    DI MARIA Angel|14.02.1988|  DI MARÍA|Paris Saint-Germa...|   178|  75|1988|
|Argentina|    20|     MF|  LO CELSO Giovani|09.04.1996|  LO CELSO|Paris Saint-Germa...|   177|  75|1996|
|Argentina|    13|     MF|  MEZA Maximiliano|15.12.1992|      MEZA|CA Independiente ...|   180|  76|1992|
|Argentina|     8|     DF|      ACUNA Marcos|28.10.1991|     ACUÑA|   Sporting CP (POR)|   172|  77|1991|
|Argentina|    23|     GK|CABALLERO Wilfredo|28.09.1981| CABALLERO|    Chelsea FC (ENG)|   186|  80|1981|
|Argentina|     2|     DF|   MERCADO Gabriel|18.03.1987|   MERCADO|    Sevilla FC (ESP)|   181|  81|1987|
|Argentina|    17|     DF|  OTAMENDI Nicolas|12.02.1988|  OTAMENDI|Manchester City F...|   181|  81|1988|
|Argentina|    16|     DF|       ROJO Marcos|20.03.1990|      ROJO|Manchester United...|   189|  82|1990|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+----+
only showing top 20 rows

In [19]:
df = df.withColumn('Aniversario', substring('Nascimento', 1,5)).withColumn('Ano Nascimento', substring('Nascimento', -4,4)).show(5)

+---------+------+-------+------------------+----------+----------+--------------------+------+----+----+-----------+--------------+
|  Selecao|Numero|Posicao|              Nome|Nascimento|Shirt Name|                Time|Altura|Peso| Ano|Aniversario|Ano Nascimento|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+----+-----------+--------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|  65|1992|      31.08|          1992|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|  65|1996|      21.01|          1996|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|  66|1993|      15.02|          1993|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|  69|1990|      13.07|          1990|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|  72|1987|      24.06|          1987|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+----+-----------+--------------+
only showing top 5 rows

Concatenar uma coluna com a outra

In [ ]:
df.show(3)

Concatenar uma coluna utilizando separador

In [ ]:
df.withColumn('Concat', concat_ws(' - ', 'Nome','Numero')).show(3)

Alterar o tipo da coluna

In [ ]:
df.printSchema()

In [ ]:
df = df.withColumnRenamed('Team', 'Selecao').withColumnRenamed('#', 'Numero').withColumnRenamed('Pos.', 'Posicao')\
.withColumnRenamed('FIFA Popular Name', 'Nome').withColumnRenamed('Birth Date', 'Nascimento')\
.withColumnRenamed('Club', 'Time').withColumnRenamed('Height', 'Altura').withColumnRenamed('Weight', 'Peso')\

df.show(5)

In [ ]:
df.show(5)

In [ ]:
df.withColumn('Nascimento', col('Nascimento').cast(IntegerType())).show(3)